  html{
    height: 100%;
    overflow: hidden;
  }
  body {
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Open Sans';
  }
  h1{
    font-family: 'Gotham';
    src: url('/src/fonts/GOTHAMBOOK.TTF');
  }
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #777779;
  }