/* header::before{
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-image: url('../../../img/BG.jpg');
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
} */
header * {
  font-weight: normal;
  letter-spacing: 0.4em;
  text-align: center;
  color: white;
  margin: 0;
  padding: 1em 0;
}